/*-------------------------------------------------------------
----------------- Overall Styling starts here------------------
---------------------------------------------------------------  */

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap");

:root {
  --blue: #4070f4;
  --black: #151414;
  --light-blue: #afc4ff;
  --dark-blue: #03262c;
  --light-color: #5b5b5b;
  --box-shadow: 0.4rem 0.4rem 0 var(--light-blue);
  --text-shadow: 0.3rem 0.3rem 0 rgba(0, 0, 0, 0.2);
  --border: 0.1rem solid var(--blue);
  --white: #fff;
  --light-light-blue: #e2e9f8;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  min-zoom: 90%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--blue);
}

section {
  padding: 2rem 9%;
}

/* Overall styling ends here  */

/*-------------------------------------------------------------
----------------- Overall Button Styling starts here-----------
---------------------------------------------------------------  */

.btn {
  display: inline-flex;
  margin: 1rem;
  width: fit-content;
  padding: 0.5rem 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
  color: var(--white);
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 3rem;
  background: var(--blue);
  text-transform: capitalize;
}

.btn span {
  padding-top: 0.5rem;
  padding-left: 1rem;
  line-height: 2rem;
  border-radius: 0.5rem;
  color: var(--white);
}

.btn:hover {
  background: var(--white);
  color: var(--blue);
  border: var(--border);
}

.btn:hover span {
  color: var(--blue);
}

/* Overall Button styling ends here  */

/*-------------------------------------------------------------
----------------- Header section starts here-------------------
---------------------------------------------------------------  */

header {
  padding: 2rem 9%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #03262c;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

header .logo {
  font-size: 2.7rem;
  color: var(--white);
}

header .logo span {
  color: var(--blue);
}

header .logo i {
  color: var(--blue);
}

header .navbar {
  overflow: hidden;
}

header .navbar a {
  font-size: 1.7rem;
  text-transform: capitalize;
  border: 1px solid var(--dark-blue);
  color: var(--white);
  display: inline-block;
  margin-left: 1rem;
  padding: 6px 15px;
}

header .navbar a:last-child {
  background-color: var(--blue);
  padding: 0.6rem 0.8rem;
  margin-left: 1rem;
  color: var(--white);
  border: 0.1rem solid var(--light-blue);
}

header .navbar .Highlight {
  background-color: var(--blue);
  border-radius: 3rem;
}

header .navbar a:last-child:hover {
  background-color: var(--white);
  color: var(--blue);
  border: var(--border);
}

header .navbar a:hover,
header .navbar .Highlight:hover {
  color: var(--blue);
  border: 1px solid var(--light-blue);
  background: none;
}

#menu-btn {
  font-size: 2.7rem;
  border-radius: 0.5rem;
  background: var(--white);
  color: var(--blue);
  padding: 1rem 1.5rem;
  cursor: pointer;
  display: none;
}

/* Responsive nav bar Section starts here  */

@media (max-width: 850px) {
  #menu-btn {
    display: inline-block;
  }

  header {
    background-position: center;
    justify-content: space-around;
  }

  header .logo {
    font-size: 3rem;
  }

  header .navbar {
    position: fixed;
    top: 9.5rem;
    right: 0;
    border-radius: 1rem;
    width: 30rem;
    border: var(--border);
    background: var(--white);
    transform: scale(0);
    opacity: 0;
    transform-origin: top right;
    transition: none;
    text-align: center;
  }

  header .navbar .Highlight:hover,
  header .navbar a:hover {
    background: var(--blue);
    color: var(--white);
    transition: 0.3s ease-out;
    transition-delay: 0.1s;
  }

  header .navbar.active {
    transform: scale(1);
    opacity: 1;
    transition: 0.2s ease-out;
  }

  header .navbar a {
    font-size: 2rem;
    display: block;
    margin: 2.5rem;
    color: var(--black);
    padding: 0;
    border: 1px solid var(--white);
    outline: none;
  }

  header .navbar .Highlight {
    background-color: var(--white);
    border: var(--border);
    color: var(--blue);
    border: 1px solid var(--light-blue);
  }
}

/* Responsive nav bar Section ends here  */

/* Header section ends here  */

/*-------------------------------------------------------------
----------------- Overall Footer Section starts here-----------
---------------------------------------------------------------  */

.footer {
  background-color: var(--light-light-blue);
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.footer .box-container .box h3 {
  font-size: 2rem;
  font-weight: 400;
  text-transform: capitalize;
  color: var(--blue);
  padding: 0 1rem 0;
  margin-bottom: 0px;
}

.footer .box-container .box .share {
  margin-top: 0px;
}

.footer .box-container .box .share a {
  height: 4.5rem;
  width: 4.5rem;
  font-weight: 300;
  line-height: 4.5rem;
  font-size: 1.7rem;
  color: var(--blue);
  border: var(--border);
  border-radius: 0.5rem;
  margin-right: 0.3rem;
  text-align: center;
  overflow: hidden;
}

.footer .box-container .box .share a:hover {
  background: var(--blue);
  color: var(--white);
  box-shadow: var(--box-shadow);
}

.footer .box-container .box .link {
  font-size: 1.4rem;
  cursor: pointer;
  font-weight: 300;
  color: var(--black);
  padding: 1rem 0;
  display: block;
}

.footer .box-container .box i,
.footer .box-container .box .link:hover {
  color: var(--blue);
}

.footer .box-container .box .link:hover i {
  padding-right: 0.9rem;
  transition: 0.3s ease-in-out;
  color: var(--dark-blue);
}

.footer .box-container .box p {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 2;
  color: var(--black);
  padding: 1rem 0;
}

.footer .box-container .box .email {
  width: 80%;
  padding: 1.2rem 1.4rem;
  font-size: 1.4rem;
  border: 0.1rem solid var(--blue);
  margin-bottom: 1rem;
}

.footer .credit {
  text-align: center;
  margin-top: 3rem;
  padding-top: 3rem;
  font-size: 1.5rem;
  text-transform: capitalize;
  color: var(--blue);
  border-top: 0.1rem solid var(--blue);
}

.footer .credit span {
  color: var(--blue);
}

/* Overall footer section ends here  */

/*-------------------------------------------------------------
----------------- Overall heading starts here------------------
---------------------------------------------------------------  */

.heading-bg {
  background-image: url(./images/heading-bg.jpg);
  background-size: cover;
  background-position: center;
}

.heading-link {
  text-align: center;
  margin-top: 4.5rem;
  overflow: hidden;
}

.heading-link h3 {
  font-size: 3rem;
  text-transform: capitalize;
  color: var(--black);
  margin-top: 5rem;
}

.heading-link p {
  font-size: 2rem;
  line-height: 2;
  color: var(--light-color);
}

.heading-link p a {
  color: var(--blue);
}

.heading-link p a:hover {
  text-decoration: underline;
}

.heading {
  text-align: center;
  margin: 5rem auto;
  font-weight: 100;
  font-size: 3rem;
  text-transform: capitalize;
  color: #fff;
  padding: 1rem 3rem;
  width: fit-content;
  background-color: #4070f4;
  border-radius: 5rem;
}

/* Overall heading ends here  */

/*-------------------------------------------------------------
----------------- Home Section starts here---------------------
---------------------------------------------------------------  */

.home {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 7rem;
}

.home .home-image-container {
  position: relative;
  height: 95vh;
  width: 100vw;
  overflow: hidden;
  z-index: 1;
}

.home .home-image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%);
  z-index: 2;
}

.home .home-image-container .imagediv {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.home-content-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: 1.5rem;
}

.home .content {
  position: absolute;
  z-index: 3;
  width: 100%;
  margin-top: -85rem;
  margin-left: -75rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home .content h3 {
  font-size: 5rem;
  color: #fff;
  margin-bottom: 2px;
  margin-left: 6.2rem;
  font-weight: 400;
  text-shadow: 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.2);
}

.home .content p {
  font-size: 2.5rem;
  margin-left: 5rem;
  color: #fff;
}

.home-icons-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  padding-bottom: 5rem;
  margin: 0 5rem;
}

.home-icons-container .icons {
  border: 0.1rem solid #4070f4;
  box-shadow: 0.3rem 0.3rem 0 #afc4ff;
  border-radius: 0.5rem;
  text-align: center;
  padding: 2rem;
  cursor: pointer;
}

.home-icons-container .icons i {
  font-size: 5rem;
  color: #4070f4;
}

.home-icons-container .icons h3 {
  font-size: 3rem;
  color: #444;
  text-align: center;
  margin-top: 0.6rem;
  margin-bottom: -5px;
  font-weight: 500;
  font-family: Verdana;
  text-shadow: 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.2);
}

.home-icons-container .icons p {
  margin-top: 10px;
  font-size: 1.6rem;
  color: rgb(119, 119, 119);
}

.home-icons-container .icons:hover {
  background-color: #4070f4;
  transition: 0.3s ease-in-out;
}

.home-icons-container .icons:hover i,
.home-icons-container .icons:hover p {
  color: #03262c;
}

.home-icons-container .icons:hover h3 {
  color: #afc4ff;
}

.home-contact-container {
  width: 100%;
  margin-top: 12rem;
  margin-bottom: 6rem;
  height: 40rem;
}

.home-contact-image-container {
  width: 70%;
  height: 40rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.home-contact-container .home-contact-image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%);
  z-index: 2;
}

.contactimagediv {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-contact-content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.contact-content {
  position: absolute;
  text-align: center;
  z-index: 3;
  margin-top: -40rem;
}

.contact-content h3 {
  color: #fff;
  font-weight: 500;
  font-size: 2.5rem;
  margin-left: 16rem;
  margin-top: 0;
  margin-right: 16rem;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 1300px) {
  .home .content {
    margin-left: -65rem;
  }
}

@media screen and (max-width: 1220px) {
  .home .content {
    margin-left: 0rem;
  }
  .home-content-container {
    margin: 0;
  }
}

@media screen and (max-width: 1000px) {
  .home .content h3 {
    font-size: 4rem;
  }
  .home .content p {
    font-size: 2rem;
  }
}

@media screen and (max-width: 770px) {
  .home .content h3 {
    font-size: 3rem;
  }
  .home .content p {
    font-size: 1.5rem;
  }
  .contact-content h3 {
    font-size: 1.9rem;
  }
}

@media screen and (max-width: 585px) {
  .home .content h3 {
    margin-left: 30px;
    font-size: 3.3rem;
  }
  .home .content p {
    margin-left: 40px;
    font-size: 1.2rem;
  }
  .home .content {
    margin-left: -2rem;
    margin-top: -115rem;
  }
}

@media screen and (max-width: 390px) {
  .home .content h3 {
    font-size: 2.8rem;
  }
  .home .content p {
    font-size: 1.1rem;
  }
}

/* Home section ends here  */

/*-------------------------------------------------------------
----------------- About Section starts here--------------------
---------------------------------------------------------------  */

.about-image {
  width: 100vw;
}

.about-image img {
  width: 100%;
}

.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
  margin-top: 5rem;
}

.about .image {
  flex: 1 1 30rem;
}

.about .image img {
  width: 90%;
}

.about .content {
  flex: 1 1 35rem;
}

.about .content .about-title {
  font-size: 3rem;
  text-transform: capitalize;
  color: var(--black);
  margin-bottom: 10px;
}

.about .content p {
  font-size: 1.5rem;
  line-height: 2;
  color: var(--light-color);
  padding: 1rem 0;
}

.about .content span {
  font-size: 1.2rem;
  line-height: 2;
  border-radius: 5rem;
  color: #777777;
  padding: 0.5rem 1rem;
  color: #fff;
  background-color: #4070f4;
}

/*~~~~~ Placement section in About starts here ~~~~~~~~*/

.placement {
  background-image: url("./images/home-about.jpg");
  background-size: cover;
  height: 30rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  margin: 6rem 0px;
}

.placement::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.8) 100%);
  z-index: 2;
}

.placement-content {
  margin: 3rem 23%;
  z-index: 3;
}

.placement-content h2 {
  color: #4ca3b3;
  text-decoration: underline;
  font-size: 30px;
}

.placement-content h3 {
  color: #fff;
  font-size: 18px;
  margin-top: 20px;
}

.placement-content h4 {
  color: #fff;
  font-size: 18px;
  margin-top: 10px;
}

.placement-content p {
  color: #4070f4;
  font-size: 14px;
  margin-top: 10px;
}

.placement-company-division {
  float: left;
  width: 60%;
  margin-top: 1.5rem;
  z-index: 3;
}

.placement-division img {
  width: 24%;
  padding-top: 0.2rem;
}

/*~~~~~ Placement section in About ends here ~~~~~~~~*/

/*~~~~~~ review section in About starts here ~~~~~~*/

.review {
  margin-top: -8rem;
  margin-bottom: 4rem;
}

.review .container {
  padding: 0 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
}

.review .container .box {
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  border: 0.2rem solid var(--blue);
}

.review .container .box p {
  font-size: 1.5rem;
  color: var(--black);
}

.review .container .box i.quote {
  font-size: 3.5rem;
  color: var(--blue);
}

.review .container .box .content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}

.review .box .info .name {
  font-weight: 600;
  font-size: 23px;
}

.review .box .info .job {
  font-size: 15px;
  font-weight: 500;
  color: var(--blue);
}

.review .box .info .stars {
  margin-top: 2px;
  overflow: hidden;
}

.review .box .info .stars i {
  color: var(--blue);
  font-size: 1.6rem;
}

.review .box .content .image {
  height: 70px;
  width: 70px;
  padding: 3px;
  background: var(--blue);
  border-radius: 50%;
  overflow: hidden;
}

.review .content .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
}

.review .box:hover .content .image img {
  border: var(--border);
  border-color: var(--dark-blue);
}

@media screen and (max-width: 1400px) {
  .about .content span {
    font-size: 0.8rem;
  }

  .about .content .about-title {
    font-size: 2.2rem;
  }

  .about .content p {
    font-size: 1.3rem;
  }

  .review .container .box .content {
    display: grid;
  }

  .review .box .content .image {
    transform: translateX(100%);
  }

  .review .container {
    padding: 0 30px;
  }
}

@media screen and (max-width: 925px) {
  .placement-company-division {
    width: 80%;
  }

  .review .container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .review .container .box {
    width: 70%;
    transform: translateX(25%);
  }

  .review .container .box .content {
    justify-content: center;
  }

  .review .box .content .image {
    transform: translateX(5%);
  }

  .review .box .content .first {
    transform: translateX(60%);
  }

  .review .container {
    padding: 0 6px;
  }
}

@media screen and (max-width: 760px) {
  .about .content span {
    display: none;
    visibility: hidden;
  }
  .placement-content h2 {
    font-size: 20px;
  }
  .placement-content h3 {
    font-size: 12px;
  }
  .placement-content h4 {
    font-size: 12px;
  }
  .placement-content p {
    font-size: 10px;
  }
  .placement-company-division {
    width: 70%;
  }
}

@media screen and (max-width: 680px) {
  .placement {
    display: flex;
    flex-direction: column;
    height: 50rem;
  }
  .placement-company-division {
    width: 60%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 630px) {
  .about .image {
    margin: 0 auto;
    text-align: center;
  }

  .about .image img {
    width: 70%;
  }
}

@media screen and (max-width: 700px) {
  .review .container .box {
    width: 100%;
    transform: translateX(0%);
  }

  .review .container {
    padding: 0 2px;
  }

  .review .box .content .image {
    transform: translateX(15%);
  }

  .review .box .content .first {
    transform: translateX(60%);
  }
}

@media screen and (max-width: 550px) {
  .review .container .box p {
    font-size: 1.8rem;
  }
  .review .box .info .name {
    font-size: 2.5rem;
  }

  .review .box .info .job {
    font-size: 1.8rem;
  }

  .review .box .info .stars i {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 370px) {
  .placement {
    display: flex;
    flex-direction: column;
    height: 40rem;
  }
  .placement-content {
    margin: 3rem auto;
    overflow: hidden;
  }
  .placement-company-division {
    width: 60%;
    margin: 0 auto;
  }
}

/*~~~~~ Review section in About ends here ~~~~~~~~*/

/* About section ends here  */

/*-------------------------------------------------------------
----------------- Courses Section starts here------------------
---------------------------------------------------------------  */

.courses .box-container {
  display: flex;
  flex-direction: column;
}

.courses .courses-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.courses .box-container .courses-container .box {
  height: 25rem;
  overflow: hidden;
  position: relative;
  border: 0.2rem solid #4070f4;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background: #fff;
  margin: 0.5rem;
}

.courses .box-container .courses-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.courses .box-container .courses-container .box:hover img {
  height: 85%;
  width: 85%;
}

.courses .box-container .courses-container .box h3 {
  display: none;
}

.courses .box-container .courses-container .box:hover h3 {
  display: block;
  position: absolute;
  bottom: 0.5rem;
  left: 0.8rem;
  font-size: 1.6rem;
  color: #333;
  text-transform: capitalize;
}

.courses .box-container .courses-container .box .icons {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
}

.courses .box-container .courses-container .box .icons a {
  display: none;
  text-decoration: none;
}

.courses .box-container .courses-container .box:hover .icons a {
  display: block;
  height: 3rem;
  width: 3rem;
  border-radius: 0.5rem;
  background: #fff;
  color: #4070f4;
  border: 0.1rem solid #4070f4;
  font-size: 1.5rem;
  cursor: pointer;
  overflow: hidden;
  line-height: 3rem;
  text-align: center;
  margin-bottom: 1rem;
}

.courses .box-container .courses-container .box .icons a:hover {
  background: #4070f4;
  color: #fff;
  border: 0.1rem solid #fff;
}

.courses .box-container .courses-container #courseVisible1,
.courses .box-container .courses-container #courseVisible2,
.courses .box-container .courses-container #courseVisible3 {
  display: none;
  visibility: hidden;
}

.courses .load-more {
  text-align: center;
}

@media (max-width: 1400px) {
  .courses .courses-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 900px) {
  .courses .courses-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 590px) {
  .courses .courses-container {
    margin: 2rem 10%;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 390px) {
  .courses .courses-container {
    margin: 2rem 2%;
    grid-template-columns: 1fr;
  }
}

/* courses section ends here  */

/*-------------------------------------------------------------
----------------- Blogs Section starts here--------------------
---------------------------------------------------------------  */

.blogs .container .box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  padding: 10px;
}

.blogs .container .box .div {
  height: 25rem;
  position: relative;
  overflow: hidden;
  border: 0.2rem solid #4070f4;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.blogs .container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.blogs .container #blogsVisible1,
.blogs .container #blogsVisible2,
.blogs .container #blogsVisible3 {
  display: none;
  visibility: hidden;
}

.blogs .load-more {
  margin-top: 2rem;
  text-align: center;
}

@media (max-width: 900px) {
  .blogs .container .box {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 650px) {
  .blogs .container .box {
    margin: 2rem 10%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

@media (max-width: 440px) {
  .blogs .container .box {
    margin: 2rem 2%;
  }
}

/* Blogs section ends here  */

/*--------------------------------------------------------------
----------------- Services Section starts here------------------
----------------------------------------------------------------  */

.services .row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  padding: 10px;
}

.services .column {
  width: 100%;
  padding: 0 1em 1em 1em;
  text-align: center;
}

.services .card {
  width: 100%;
  height: 100%;
  padding: 1em 1em;
  background: linear-gradient(var(--white) 50%, var(--blue) 50%);
  background-size: 100% 200%;
  background-position: 0 2.5%;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  border: var(--border);
  cursor: pointer;
  transition: 0.5s;
}

.services .row h3 {
  font-size: 1.8rem;
  font-weight: 400;
  margin: 1em 0;
  color: var(--black);
}

.services .column p {
  color: var(--light-color);
  font-size: 1.2rem;
  line-height: 1.6;
  font-weight: 300;
  letter-spacing: 0.03em;
  margin-bottom: 2rem;
}

.services .icon-wrapper {
  background-color: var(--blue);
  margin: auto;
  font-size: 30px;
  height: 2.2em;
  width: 2.2em;
  color: var(--white);
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.5s;
}

.services .card:hover {
  background-position: 0 100%;
}

.services .card:hover .icon-wrapper {
  background-color: var(--white);
  color: var(--dark-blue);
}

.services .card:hover h3 {
  color: var(--white);
}

.services .card:hover p {
  color: var(--white);
}

@media screen and (max-width: 900px) {
  .services .row {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 700px) {
  .services .row {
    display: flex;
    flex-direction: column;
    width: 60%;
    transform: translateX(35%);
  }
}

@media screen and (max-width: 550px) {
  .services .row {
    width: 100%;
    transform: translateX(0%);
  }
  .services .row h3 {
    font-size: 2.4rem;
  }
  .services .row p {
    font-size: 1.7rem;
  }
}

/* Services section ends here  */

/*-------------------------------------------------------------
----------------- Contact Section starts here------------------
---------------------------------------------------------------  */

.contact .icons-container {
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem;
}

.contact .icons-container .icons {
  text-align: center;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  border: var(--border);
  box-shadow: var(--box-shadow);
  background: var(--light-light-blue);
  cursor: pointer;
}

.contact .icons-container .icons i {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  color: var(--white);
  background: var(--blue);
  overflow: hidden;
}

.contact .icons-container .icons h3 {
  font-size: 1.5rem;
  text-transform: capitalize;
  margin: 0px;
  font-weight: 600;
  color: var(--black);
  padding: 0.5rem 0;
}

.contact .icons-container .icons p {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2;
  color: var(--light-color);
}

.contact .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.contact .row .image {
  flex: 1 1 15rem;
}

.contact .row .image img {
  width: 90%;
}

.contact .row form {
  flex: 1 1 8rem;
  border: 0.1rem solid var(--blue);
  padding: 0.8rem;
}

.contact .row form h3 {
  font-size: 1.7rem;
  text-transform: capitalize;
  color: var(--black);
  padding-bottom: 1rem;
  font-weight: 500;
  padding-left: 1.5rem;
}

.contact .row form .box {
  width: 90%;
  padding: 1rem 0 1rem 1rem;
  border: var(--border);
  font-size: 1.3rem;
  margin: 0.7rem 1.5rem 0.5rem;
}

.contact .row form .box:focus {
  background: var(--blue);
  color: var(--white);
}

.contact .row form .box:focus::placeholder {
  color: var(--white);
}

.contact .row form textarea {
  height: 15rem;
  resize: none;
}

@media (max-width: 860px) {
  .contact .icons-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .contact .row {
    display: grid;
  }
}

@media (max-width: 400px) {
  .contact .icons-container {
    grid-template-columns: 1fr;
  }
}

/* Contact section ends here  */

/* ----------- Overall Responsive section starts here ---------------- */

@media (max-width: 1115px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 2rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}

/* ----------- Overall Responsive section ends here ---------------- */
